extend layout/layout

block content
  div
    .container
      
      h1 Frode Hallem kan brukes til det meste.
      p
        | Vitser, toastmaster, speaker, konferansier, parodier, stand Up Comedy, intervjuer m.m.
      p
        | Frode Hallem er meget egnet til firma.-arrangement. Sine opptredener spesialskriver han for &aring; tilpasse dem til hvert enket oppdrag. Referanser kan du se p&aring; &quot;
        a(href='/referanser/') referanser
        | &quot; siden.
      p
        | Du kan se video fra &quot;skult kamera&quot; under &quot;
        a(href='/video/') video
        | &quot; siden.
      p
        | Foresp&oslash;rsler om oppdrag gj&oslash;r du lettest med en 
        a(href='mailto:frode.asbjorn@hallem.info') e-post
        |  til meg, med opplysninger om &oslash;nsket tid, telefon hvor jeg kan gi tilbakemelding, og jeg tar kontakt s&aring; snart det er mulig.