extend ../layout/layout

block link
  -var selected = 'Video';

block extrahead
  link(rel='stylesheet', href='#{media_root}/video.js/dist/video-js.min.css')
  // If you'd like to support IE8
  script(src='#{media_root}/video.js/dist/ie8/videojs-ie8.min.js')

block scripts
  script(type='text/javascript', src='#{media_root}/video.js/dist/video.min.js')

block content
  div
    .container
      
      h1 Politi
      video#my-video.video-js(controls='', preload='auto', width='640', height='264', poster='../politi.png', data-setup='{}')
        source(src='../politi.mp4', type='video/mp4')
        source(src='../politi.webm', type='video/webm')
        p.vjs-no-js
          | To view this video please enable JavaScript, and consider upgrading to a web browser that
          a(href='http://videojs.com/html5-video-support/', target='_blank') supports HTML5 video
