extend ../layout/layout

block link
  -var selected = 'Video';

block extrahead
  link(rel='stylesheet', href='#{media_root}/video.js/dist/video-js.min.css')
  // If you'd like to support IE8
  script(src='#{media_root}/video.js/dist/ie8/videojs-ie8.min.js')

block scripts
  script(type='text/javascript', src='#{media_root}/video.js/dist/video.min.js')

block content
  div
    .container
      
      h1 Videoer


      video#my-video.video-js(controls='', preload='auto', width='320', height='240', poster='../politi.png', data-setup='{}')
        source(src='../politi.mp4', type='video/mp4')
        source(src='../politi.webm', type='video/webm')
        p.vjs-no-js
          | To view this video please enable JavaScript, and consider upgrading to a web browser that
          a(href='http://videojs.com/html5-video-support/', target='_blank') supports HTML5 video
      .media
        .media-left
          a(href='http://www.t-a.no/tronder-tv/2015/11/02/Skjult-Kamera-%C2%AB- Vareutlevering-3%C2%BB-11759809.ece')
            img(src='http://www.t-a.no/video/article11740644.ece/lzraw7/ALTERNATES/w180-default/4408.jpg', alt='')
        .media-body
          a(href='http://www.t-a.no/tronder-tv/2015/11/02/Skjult-Kamera-%C2%AB-Vareutlevering-3%C2%BB-11759809.ece') Skjult Kamera: &laquo; Vareutlevering #3&raquo;
          p Flere ableg&oslash;yer fra Frode, Jens Einar og de andre i Skjult Kamera-teamet....
      .media
        .media-left
          a(href='http://www.t-a.no/tronder-tv/2015/10/26/Skjult-kamera-Skr%C3% A6mmern-p%C3%A5-Vero-Moda-11731501.ece')
          img(src='http://www.t-a.no/video/article11716575.ece/ujw4co/ALTERNATES/w180-default/4391.jpg', alt='')
        .media-body
          a(href='http://www.t-a.no/tronder-tv/2015/10/26/Skjult-kamera-Skr%C3%A6mmern-p%C3%A5-Vero-Moda-11731501.ece') Skjult kamera - Skr&aelig;mmern p&aring; Vero Moda
          p Flere ableg&oslash;yer fra Frode, Jens Einar og de andre i Skjult Kamera-teamet....
    
      .media
        .media-left
          a(href='http://www.t-a.no/tronder-tv/2015/10/19/Vareutlevering-117025 60.ece')
          img(src='http://www.t-a.no/video/article11682805.ece/jdpilu/ALTERNATES/w180-default/4374.jpg', alt='')
        .media-body
          a(href='http://www.t-a.no/tronder-tv/2015/10/19/Vareutlevering-11702560.ece') Vareutlevering
          p Flere ableg&oslash;yer fra Frode, Jens Einar og de andre i Skjult Kamera-teamet....
    
      .media
        .media-left
          a(href='http://www.t-a.no/tronder-tv/2015/10/12/Skjult-Kamera-%C2%ABT yv-p%C3%A5-museum%C2%BB-11673014.ece')
          img(src='http://www.t-a.no/video/article11648809.ece/mmwu4r/ALTERNATES/w180-default/4348.jpg', alt='')
        .media-body
          a(href='http://www.t-a.no/tronder-tv/2015/10/12/Skjult-Kamera-%C2%ABTyv-p%C3%A5-museum%C2%BB-11673014.ece') Skjult Kamera: &laquo;Tyv p&aring; museum&raquo;
          p Flere ableg&oslash;yer fra Frode, Jens Einar og de andre i Skjult Kamera-teamet....
    
      .media
        .media-left
          a(href='http://www.t-a.no/tronder-tv/2015/10/05/Skjult-kamera-Teoripr %C3%B8ven-11648464.ece')
          img(src='http://www.t-a.no/video/article11629432.ece/gi83pr/ALTERNATES/w180-default/4333.jpg', alt='')
        .media-body
          a(href='http://www.t-a.no/tronder-tv/2015/10/05/Skjult-kamera-Teoripr%C3%B8ven-11648464.ece') Skjult kamera: Teoripr&oslash;ven
          p Flere ableg&oslash;yer fra Frode, Jens Einar og de andre i Skjult Kamera-teamet....
    
      .media
        .media-left
          a(href='http://www.t-a.no/tronder-tv/article11619025.ece')
            img(src='http://www.t-a.no/incoming/article11619032.ece/w4m5or/ALTERNATES/w180-default/resources_content_thumbnails_2015-09_1443096615045346600png_NY_splash.jpg', alt='')
        .media-body
          a(href='http://www.t-a.no/tronder-tv/article11619025.ece') Skjult kamera : Skyved&oslash;r
          p Flere ableg&oslash;yer fra Frode, Jens Einar og de andre i Skjult Kamera-teamet....
    
      .media
        .media-left
          a(href='http://www.t-a.no/tronder-tv/article11596763.ece')
            img(src='http://www.t-a.no/video/article11589162.ece/h3l6c/ALTERNATES/w180-default/4304.jpg', alt='')
        .media-body
          a(href='http://www.t-a.no/tronder-tv/article11596763.ece') Skjult Kamera: &laquo;Dyrebutikk&raquo;
          p Flere ableg&oslash;yer fra Frode, Jens Einar og de andre i Skjult Kamera-teamet....
    
      .media
        .media-left
          a(href='http://www.t-a.no/tronder-tv/article11565546.ece')
            img(src='http://www.t-a.no/video/article11535598.ece/r3a861/ALTERNATES/w180-default/4271.jpg', alt='')
        .media-body
          a(href='http://www.t-a.no/tronder-tv/article11565546.ece') Skjult Kamera: &laquo;Svensk fotsjekk&raquo;
          p Flere ableg&oslash;yer fra Frode, Jens Einar og de andre i Skjult Kamera-teamet....
    
      .media
        .media-left
          a(href='http://www.t-a.no/tronder-tv/article11527720.ece')
            img(src='http://www.t-a.no/video/article11493651.ece/4j22qx/ALTERNATES/w180-default/4250.jpg', alt='')
        .media-body
          a(href='http://www.t-a.no/tronder-tv/article11527720.ece') Skjult kamera: &laquo;Telefonboks&raquo;
          p Flere ableg&oslash;yer fra Frode, Jens Einar og de andre i Skjult Kamera-teamet....
    
      .media
        .media-left
          a(href='http://www.t-a.no/tronder-tv/article11489181.ece')
            img(src='http://www.t-a.no/video/article11411135.ece/d2lxaj/ALTERNATES/w180-default/4165.jpg', alt='')
        .media-body
          a(href='http://www.t-a.no/tronder-tv/article11489181.ece') Skjult kamera: &laquo;Pakker p&aring; posten&raquo;
          p Flere ableg&oslash;yer fra Frode, Jens Einar og de andre i Skjult Kamera-teamet....
