extend ../layout/layout

block link
  -var selected = 'Referanser';
  
block content
  div
    .container
      
      h1 Referanser
      div.clearfix
        div.col-md-4
          p Mesterkokkenes Landsmøte 2010, Rica Hell.
          p Kreativ Fagskole 2010
          p Tine Midt-Norge
          p Div. Politiske Holmganger Valg 99/03/07
          p Norges Bondelag (Pr-Kurs m.v.)
          p Ulike Oppdrag Rema Stormarked 
          p Norske 4H
          p Nord-Trøndelag 4H
          p Rema1000
          p NHO Nord-Trøndelag
          p Konferanseleder ”Voksnes Læring 99”
          p Fargerike Norge
          p Aqua Gen
          p Samlerhuset a/s, Frognersetra, Oslo
          p Sparebank 1 -  Midt-Norge Div. Oppdrag + Videoprod. /  Storyboard og Aktør
          p Aker Verdal – Flere Oppdrag ( m. a. Oseberg Øst og Oseberg Gass og Aker Elektro )
          p Aker RGI –  Maritime – Revolverintervju Med Topplederne
          p Norsk Sjømat,Bergen
          p Statoil Forskningssenteret, Ranheim (Flere Oppdrag)
          p Gjensidige Forsikring S-T
          p Norsk Hydro
          p Nasjonal Omsorgskonferanse, Rica Hotel (2 Dager)
          p Nycomed Pharma – Sjølystsenteret, Oslo
          p Midt-Norsk Transport
          p Trondheim – 1000 - årsjubileet. Div. Oppdrag, Bl.a  ”Sommer-Trondheim ”
          p Gaden og Larsen
          p Ungdommens Kulturmønstring, Humorverksted
          p Byggmakker Norge
          p Elcon Finans
          p Norsk Gjenvinning
          p Handel- og Kontor
          p Stortingskomiteen(Kultur-, Familie og Administrasjon)
          p Trønder – Mat
          p Klæburutene
          p Kreativt Forum(Sirkustr.h)
        div.col-md-4
          p Røra Fabrikker
          p Securitas
          p Julius Maske a/s, 
          p Gilde
          p Rimi Heimdal og Rimi Støren
          p Ringve Museum
          p Bøndernes Salgslag
          p Radio 1
          p Lo Nord-Tr.Lag, Konferanseleder
          p Sparbu Teaterlag 75-Årsjubileum
          p E. A. Smith a/s (Flere Oppdrag)
          p Norges Bygdealmennings Forbund
          p Nm Badminton 99,Konf.
          p Rishaug Maskin
          p It Works(Telenor)
          p Flatangerdagene Flere år
          p Brødrene Rishaug (Flere Oppdrag)
          p Fosk
          p Flexi a/s   Jernbaneverket
          p Agresso Brukerforening
          p Rimi
          p BSF Kursholder ”Trygg i Forsaml.”
          p 10 – 15 Ulike Kjøpesentra I Midt- Norge
          p Trønderavisas Musikkpris
          p Meråkerkonferansen, Rica Hell, Flere år. Herunder Møteleder Under Hele Landskonferansen Samt Ansvar For Det Totale Trivselskonseptet.
          p Eutronica
          p Powell Data Netbas, Rica Hell Stjørdal
          p Statens Vegvesen
          p Powell Data Id, Scandic Hotel Trondheim
          p SND – Sentralstyret + Fylkesstyret
          p NOR – Service, Vertshuset Vågen Frosta
          p Tieto Enator
          p Nm Volleyball
          p Nm Badminton
          p Frp
        div.col-md-4
          p Norsk Luftambulanse
          p Duun – Smia (Flere Gg)
          p Lindbak a/s
          p Runit
          p Luftkrigsskolen(Flere Gg)
          p Kristelig Folkeparti Sentralt – Valgkampåpning, Rica Hell Hotell
          p Poltergeist Mc – Klubb – Reåpning Klubbhus (Samme Helg Som Kr.F Valgkamp.!!)
          p Ulike Kommuner
          p Geo-Forum
          p Sintef
          p Funksj.H. Idrettsforbund
          p Telenor Mobil
          p DHL Transport
          p Canon Kundetreff           
          p Operasjonssykepleiernes Landsmøte
          p Sas / Braathen Julebord
          p Ressurssenter For Omstilling
          p Nopi
          p Nordisk Musikkfestival
          p Den Norske Bank, Tr.Heim
          p Konf. Kreftforeningen (Levering Totalkonsept)
          p Vintervoll a/s     Ia-Konferanse           
          p Nm Trekkspill (Konferansier/Underholdning)
          p St. Olavsloppet (Speaker Flere år)
          p Retura a/s
          p Trønder-Kursa
          p Nord-Trøndelag Fylkeskommune
          p Noku N-T (Fylkeskulturkonferanser)
          p Norges Handikapforbund
          p Helseforetak Midt-Norge (Flere) 
          p Inkluderende Arbeidsliv (Konferansier)
          p Hms-Konferanser (Konferansier)
          p Trox Auranor Norge As
          p Vvs Trøndelag, Lerkendal
          p Vestlands-Konferansen
          p Norges Taxiforbund, Grand Steinkjer 05.04.14
          p Trøndelag Tollregion
          p Norske Byggmesteres Landsmøte, Rica Hell
          p NT Last òg Buss, Steinkjer  Mebroen Gård, Stjørdal

      p Totalt i løpet av en seksten-årsperiode dreier det seg om ca. 800 større og mindre underholdnings- oppdrag, hvorav ca. 100 av disse er for målgruppa barn og unge, og ca. 350 i kombinasjon med toastmasteroppdrag (derav toastmaster i 33 bryllup).

      p I tillegg til bakenfor nevnte utvalg inkluderer dette bl. a. et utall vitsekvelder, Stand Up Comedians, konferansieroppdrag, speakertjeneste og toastmasterfunksjoner i ulike private og offentlige anledninger som julebord, firmafester, `events`, festivaler, martnaer, karnevals, dansegallaer, jubileumsmarkeringer, manequin-oppvisninger, PR- / jippo-shows m. v.
      p I perioden utover i 90-åra og fram til d.d. har det også blitt en del fjernsynsoppdrag, både for NRK, TV3 og TVNorge, men også for ulike lokale TV-selskap som programleder, gag-produsent-/ aktør og i reklamesammenheng.

      p ”Skjult kamera”- oppsetningene på TVNorge fra 94 – 04  og ”Heia Norge”- innslagene på NRK er vel best kjent for de fleste.  Har fått en ny renessanse på Trønder-TV nå i 2015                                                                                   

      p Opptrer siden høst 99 en del sammen med Petter Andreas Røstad., norgesmester i trekkspill og regjerende Kappspellmester fra Røros.         

      p Vi framfører m.a. originalskrevne trønderskrønesanger og tekster på bestilling; fest- og firmasanger, endelausrim, limericks,  ulike typer (velkomst)kvad, Jan Erik Vold-parodier m. v.  
      p Muligheter for taffelmusikk, humorkrydder og dans i tillegg.

      p Tvillingene Andreas og Marius er nå 21 år og har etter hvert utviklet et solid og iøynefallende SJONGLERINGSSHOW ( baller, kjegler, fakler, ringer, kniver, enhjulssykler mv.). De har det siste året også vært med meg på ulike arenaer og i mange underholdnings-sammenhenger og fått meget positive tilbakemeldinger.
      p Sommeren 2010 deltok de som Nord-Trøndelag fylkes representanter på UKM- festivalen (Landsfestivalen) i Trondheim. 
      p Andreas og Marius sin Sjongleringstrupp «Sky`s The Limit» er mye brukt i regionen og egner seg ypperlig til pauseunderholdning og short-cuts med sine spektakulære shows og gode Workshops. Flere har deltatt i TV og Norske Talenter!

      p Vi har flere ganger vært på Rica Hell, nå Scandic Hell, på ulike samlinger både i Rica/Scandic Hall og andre møte- og konferanserom.
      p De har gjort flere oppdrag for Kreftforeningen og Barnekreftforeningen!
      p Vi har gode erfaringer også med sjonglering ved ankomst mv. i fellesarealer, lobbyrer og i pianobarer!
      p Fakler og lyskjegler ute kan også være flott på kveldstid!
